In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tuktoyaktuk,CA,2021-03-27 17:36:10,69.4541,-133.0374,-25.60,75,75,2.30
1,1,Port-Gentil,GA,2021-03-27 17:32:35,-0.7193,8.7815,82.40,78,20,5.75
2,2,Mareeba,AU,2021-03-27 17:36:11,-17.0000,145.4333,77.00,83,75,12.66
3,3,Hermanus,ZA,2021-03-27 17:36:11,-34.4187,19.2345,63.00,73,58,12.24
4,4,Camp Verde,US,2021-03-27 17:36:11,34.5636,-111.8543,57.99,44,0,8.01

In [3]:
# get the data types. 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 45
What is the maximum temperature you would like for your trip? 65

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Hermanus,ZA,2021-03-27 17:36:11,-34.4187,19.2345,63.00,73,58,12.24
4,4,Camp Verde,US,2021-03-27 17:36:11,34.5636,-111.8543,57.99,44,0,8.01
5,5,Hasaki,JP,2021-03-27 17:36:11,35.7333,140.8333,57.20,72,75,10.36
8,8,Port Elizabeth,ZA,2021-03-27 17:36:12,-33.9180,25.5701,62.60,82,0,13.80
9,9,Mataura,NZ,2021-03-27 17:36:12,-46.1927,168.8643,55.00,92,60,1.97
10,10,Camabatela,AO,2021-03-27 17:36:13,-8.1881,15.3750,64.00,93,95,2.01
11,11,Punta Arenas,CL,2021-03-27 17:36:13,-53.1500,-70.9167,64.40,52,0,20.71
13,13,Ushuaia,AR,2021-03-27 17:34:58,-54.8000,-68.3000,57.20,62,75,14.97
15,15,Washington,US,2021-03-27 17:31:25,47.5001,-120.5015,53.01,48,59,3.00
17,17,Lasa,IT,2021-03-27 17:36:14,46.6166,10.7002,62.60,70,0,3.44

In [19]:
preferred_cities_df.count()

City_ID       152
City          152
Country       151
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [20]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [21]:
preferred_cities_df.notnull().sum()

City_ID       152
City          152
Country       151
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3         Hermanus      ZA     63.00 -34.4187   19.2345
4       Camp Verde      US     57.99  34.5636 -111.8543
5           Hasaki      JP     57.20  35.7333  140.8333
8   Port Elizabeth      ZA     62.60 -33.9180   25.5701
9          Mataura      NZ     55.00 -46.1927  168.8643
10      Camabatela      AO     64.00  -8.1881   15.3750
11    Punta Arenas      CL     64.40 -53.1500  -70.9167
13         Ushuaia      AR     57.20 -54.8000  -68.3000
15      Washington      US     53.01  47.5001 -120.5015
17            Lasa      IT     62.60  46.6166   10.7002

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel no found...skipping")

Hotel no found...skipping
Hotel no found...skipping
Hotel no found...skipping
Hotel no found...skipping
Hotel no found...skipping
Hotel no found...skipping

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Hermanus,ZA,63.00,-34.4187,19.2345,Misty Waves Boutique Hotel
4,Camp Verde,US,57.99,34.5636,-111.8543,Days Inn by Wyndham Camp Verde Arizona
5,Hasaki,JP,57.20,35.7333,140.8333,Hotel Sunrise Choshi
8,Port Elizabeth,ZA,62.60,-33.9180,25.5701,39 On Nile Guest House
9,Mataura,NZ,55.00,-46.1927,168.8643,Ellie's Villa
10,Camabatela,AO,64.00,-8.1881,15.3750,Pensão E Restaurantes
11,Punta Arenas,CL,64.40,-53.1500,-70.9167,Hotel Dreams Del Estrecho
13,Ushuaia,AR,57.20,-54.8000,-68.3000,Albatros Hotel
15,Washington,US,53.01,47.5001,-120.5015,"Cashmere Cider Mill Guest Suites, Weddings & T..."
17,Lasa,IT,62.60,46.6166,10.7002,Pension Feldgärtenhof

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]