## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
vacation_df.head()
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Des,Date
0,0,Sitka,US,57.0531,-135.3300,35.60,75,20,10.36,few clouds,2021-03-28 16:07:31
1,1,Sao Filipe,CV,14.8961,-24.4956,69.91,74,3,15.12,clear sky,2021-03-28 16:09:17
2,2,Arraial Do Cabo,BR,-22.9661,-42.0278,89.60,74,20,12.66,few clouds,2021-03-28 16:09:17
3,3,Dingle,PH,10.9995,122.6711,76.86,86,80,5.95,broken clouds,2021-03-28 16:09:18
4,4,Albany,US,42.6001,-73.9662,50.00,85,100,13.73,moderate rain,2021-03-28 16:07:35

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Des}</dd>
</dl>
"""
clean_hotel_df = pd.read_csv("Weather_Database/clean_hotels.csv")
clean_hotel_df.head()


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[(vacation_df["City"]=="Nara")]
vacation_end_df = vacation_df.loc[(vacation_df["City"]=="Nara")]
vacation_stop1_df = vacation_df.loc[(vacation_df["City"]=="Katsuura")]
vacation_stop2_df = vacation_df.loc[(vacation_df["City"]=="Hasaki")] 
vacation_stop3_df = vacation_df.loc[(vacation_df["City"] =="Mutsu")]

In [37]:
vacation_stop2_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Des,Date
212,212,Hasaki,JP,35.7333,140.8333,62.6,94,75,14.97,moderate rain,2021-03-28 16:10:00

In [38]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np
#vacation_start_df.head()

# start = vacation_start_df[['Lat', 'Lng']].to_numpy()
# start1 = vacation_start_df[['Lat', 'Lng']]
# startrd = np.round(start,1)
# starttp = np.array(startrd)
# starttpl = tuple(map(tuple, starttp))

#end = vacation_start_df[['Lat', 'Lng']].to_numpy()
# stop1 = vacation_stop1_df[['Lat', 'Lng']].to_numpy()
# stop1tp = tuple(map(tuple, stop1))
#stop1tp = tuple(map(tuple,stop1))
# stop2 = vacation_stop2_df[['Lat', 'Lng']].to_numpy()
# stop3 = vacation_stop3_df[['Lat', 'Lng']].to_numpy()

In [39]:
start = vacation_start_df["Lat"].to_numpy()[0], vacation_start_df["Lng"].to_numpy()[0]
stop1 = vacation_stop1_df["Lat"].to_numpy()[0], vacation_stop1_df["Lng"].to_numpy()[0]
stop2 = vacation_stop2_df["Lat"].to_numpy()[0], vacation_stop2_df["Lng"].to_numpy()[0]
stop3 = vacation_stop3_df["Lat"].to_numpy()[0], vacation_stop3_df["Lng"].to_numpy()[0]
end = vacation_start_df["Lat"].to_numpy()[0], vacation_start_df["Lng"].to_numpy()[0]

In [40]:
start

(35.7333, 140.8333)

In [45]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
startmp = start
stop1mp= stop1
stop2mp = stop2
stop3mp =stop3
endmp = end
fig= gmaps.figure()
nara2nara = gmaps.directions_layer(startmp, endmp, waypoints=[stop1mp, stop2mp,stop3mp], travel_mode='DRIVING')
fig.add_layer(nara2nara)
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Des,Date
0,410,Nara,JP,34.6851,135.8049,60.01,98,99,5.06,overcast clouds,2021-03-28 16:09:23
1,493,Katsuura,JP,35.1333,140.3000,62.01,94,100,1.01,light rain,2021-03-28 16:11:03
2,212,Hasaki,JP,35.7333,140.8333,62.60,94,75,14.97,moderate rain,2021-03-28 16:10:00
3,222,Mutsu,JP,41.2894,141.2169,51.80,100,90,4.61,moderate rain,2021-03-28 16:10:02

In [52]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Des}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [53]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))